<div class="card" [ngStyle]="getEstilosCartao()">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/11/08/00/12/jaguar-1807171__340.jpg" alt="Card image cap">
        <div class="card-block"><span class="badge">{{animal.nome}} {{animal.id}}</span></div>
</div>